@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Rubik;
  }
  h1 { text-align: center;
padding-bottom: 2vh;
padding-top: 2vh;}
  a{text-decoration: hidden;}
  .bannerArriba {
      background-color: black;
      height: 2%;
    color: white;
    font-size: 10pt;
    text-align: center;
    text-transform: uppercase;
    padding: 2vh;
  
    position: relative;

  }
  .navbar{
      height: 10vh;
      width: 100%;
      display: flex;
      justify-content:center;
      color:white;
      text-align: center;
      background-color: violet;
      font-family: Rubik;
      font-weight: bolder;  
    
     

  }

.navbar .ulNav  {
    display: flex;
    list-style: none;
    align-items: center;
}
.navbar .ulNav li{
    padding-left: 10pt;
    list-style: none;
    margin: 0 10px;
    padding: 5px 5px;
    
    border-radius: 15px;
}


.navbar .ulNav li.active {
    border: 1px solid white;
border-radius: 5px;
        padding:3px;}

  .navbar .ulNav li.btn {
        background-color: rgb(213, 154, 255);
        border: 1px solid white;
        border-radius: 5px;
        
      }
      .navbar .ulNav li.btn img {
        height: 5vh;
       
      } 
      
      .navbar .ulNav li.home a img {
      margin:1px;
    margin-left: 2px;
    padding-bottom: 0px;}
   
   
   
    .shopping-bag {
        padding: 16px 5px;
      }
      .shopping-bag a {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: white;
      }
      .shopping-bag a img {
        width: 32px;
        height: 32px;
      }
      .shopping-bag .total-items-in-cart {
        margin-left: 10px;
        padding: 5px;
        background-color: rgb(0, 0, 0);
        border-radius: 5px;
      }
/*PRODUCTOS*/
    .products-list{
        width: 100vw;
        height: 100vh;
      
        padding-top: 25px;
      
        display: flex;
        justify-content: center;
    }
    .products {
        height: 100%;
        width: 75%;
      
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: repeat(3, 3fr);
      }
      .products img {
        width: 15vw;
     
      }
      .products .item {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        margin: 35px;
        height: 100%;
      }
      .products .item .item-container {
        width: 95%;
        height: 100%;
        padding-bottom: 15%;
   margin: 15px;
        background-color: #000;
      
        border-radius: 25px;
      
        position: relative;}
        .products .item .item-container .item-img {
            width: 100%;
            height: 85%;
          
            background-color: white;
          
            border: 1px solid #000;
            border-radius: 25px 25px 0 0;
          
            display: flex;
            justify-content: center;
            align-items: center;
          }
          .products .item .item-container .desc {
            width: 100%;
            color: #fff;
          
            padding: 10px;
          }
          .products .item .item-container .add-to-cart {
            background-color: rgba(var(--right-side-bg-color), 0.7);
            /* background-color: rgb(242, 255, 58); */
          
            display: flex;
            justify-content: center;
            align-items: center;
          
            position: absolute;
            top: 10px;
            right: 10px;
          
            padding: 5px;
          
            border-radius: 50%;
          
            cursor: pointer;
          }
          .products .item .item-container .add-to-wishlist {
            background-color: rgba(255, 21, 21, 0.7);
          
            display: flex;
            justify-content: center;
            align-items: center;
          
            position: absolute;
            top: 10px;
            right: 60px;
          
            padding: 5px;
          
            border-radius: 50%;
          
            cursor: pointer;
          }
          .products .item .item-container .add-to-cart img {
            width: 32px;
            height: 32px;
          }
          .products .item .item-container .add-to-wishlist img {
            width: 32px;
            height: 32px;
          
            padding: 5px;
          }

          .modal-container{
              width: 100vw;
              height: 100vh;
              position: absolute;
              top:5%;
              left: 0;

              display: flex;
              justify-content: center;
              visibility: hidden;
              opacity: 0;
              transition: all .3s ease-in-out;

          }

          #cerrar-modal{
              color: black;
              height: 25px;
              padding:0;
              margin:0;
              grid-area: 0;
          }
          .modal{
              width: 400px;
              height: 100%;
              background-color: rgb(255, 150, 150);
              border-radius: 25px;
              padding:25px;
          
            }

          .modal-active {
              visibility:visible;
              opacity: 1;
          }

          .modal-container .modal   .cart-header {
            display: flex;
            justify-content: space-around;
            padding: 10px 0;
          }
          /* cart items */
          .modal-container .modal  .cart-items {
            max-height: calc(100vh - 247px);
            overflow-y: auto;
            overflow-x: hidden;
          }
          /* cart item */
          .modal-container .modal  .cart-item {
            display: flex;
            justify-content: space-around;
            padding: 10px 0;
          }
          .modal-container .modal .cart  .cart-item div {
            display: flex;
            align-items: center;
            justify-content: center;
          }
          /* item info */
          .modal-container .modal  .cart-item .item-info {
            flex: 1;
            background-color: rgba(255, 255, 255, 0.6);
          
            border-radius: 0 10px 10px 0;
          
            padding: 10px;
          }
         .modal  .cart-item .item-info:hover {
            background-color: rgba(255, 0, 0, 0.6);
            cursor: pointer;
          }
          .cart-item .item-info img {
            width: 75px;
          }
          /* unit price */
          .modal  .cart-item .unit-price {
            flex: 1;
            font-size: 1.2rem;
          }
          /* units */
          .cart-item .units {
            flex: 1;
          }
          .cart-item .units .number {
            margin: 0 10px;
          
            font-size: 1.2rem;
          }
          .cart-item .units .btn {
            width: 20px;
            height: 20px;
          
            background-color: rgb(204, 113, 240);
          
            border-radius: 50%;
          
            font-weight: bold;
          
            cursor: pointer;
          
            -webkit-user-select: none; /* Chrome all / Safari all */
            -moz-user-select: none; /* Firefox all */
            -ms-user-select: none; /* IE 10+ */
          }
          
          /* cart footer */
         .modal-container.modal .cart-footer {
            width: 100%;
            background-color: rgb(255, 21, 21);
            position: absolute;
            bottom: 0;
            left: 0;
          
            border-left: 1px solid rgb(var(--right-side-bg-color));
          }
          .modal-container .modal  .cart-footer div {
            display: flex;
            align-items: center;
            justify-content: center;
          
            padding: 15px 0;
          
            font-size: 1.3rem;
          }
          .cart-footer .subtotal {
            background-color: white;
          }
          .cart-footer .checkout {
            background-color: rgb(242, 255, 58);
          
            cursor: pointer;
          }
          

          .btn1{

            background-color: pink;
            font-size: 15pt;
            padding: 15pt;
            margin-left:50%;
           position: relative;
           top: 30vh;
            border-radius: 5pt;
            border-color: none;
          }


          .adelantos{
            position: relative;
            top: 550px
          }